@media screen and (orientation: landscape) and (max-height: 1024px) {
  canvas {
    height: 100%;
  }

  .content {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .control-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .container {
    height: 100%;
  }

  .left-hand {
    display: flex;
    align-items: flex-end;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .right-hand {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .control-btn {
    width: 70px;
    height: 70px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px solid #5c5c5c69;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .control-big {
    width: 90px;
    height: 90px;
    aspect-ratio: 1/1;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .control-btn-touch {
    background-color: #6e6e6e69;
  }

  .control-items {
    display: flex;
  }
}

@media screen and (orientation: landscape) and (max-height: 767px) {
  h1 {
    display: none;
  }
}

@media only screen and (orientation: landscape) and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  .content {
    height: 100vh;
  }

  .mute {
    width: 30px;
    height: 30px;
    margin-top: 15px;
  }

  .controls {
    font-size: 12px;
  }

  .control-btn {
    width: 7vw;
    height: 7vw;
    margin-right: 4px;
    /* margin-bottom: 4px; */
  }

  .control-big {
    width: 9vw;
    height: 9vw;
    margin: 0px 4px 0px 2px;
  }
}

.d-none {
  display: none;
}
