body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("/assets/img/full-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* font-family: "Press Start 2P", cursive;
  color: #fff; */
}

canvas {
  background-color: #000;
}

.mute {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 22%;
  cursor: pointer;
}

.d-none {
  display: none;
}
